body {
    font-family: Arial, sans-serif;
    background: #111;
    color: white;
    text-align: center;
    margin: 0;
    padding: 0;
}

#app {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

h1, h2 {
    color: #3498db;
}

input, button {
    padding: 12px;
    margin: 15px 0;
    width: 80%;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #3498db;
    background-color: #222;
    color: white;
}

input:focus, button:focus {
    outline: none;
}

button {
    background-color: #3498db;
    cursor: pointer;
}

button:hover {
    background-color: #2980b9;
}

#channels {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
}

.channel {
    background-color: #333;
    padding: 12px;
    margin: 5px;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.channel:hover {
    background-color: #444;
}

video {
    width: 100%;
    margin-top: 20px;
    max-width: 800px;
    background-color: black;
    border: 1px solid #3498db;
}
